@model Entities.Contact

@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Contact" id="iletisim_formu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
               @* <input type="submit" value="Gönder" class="btn btn-primary" />*@
                <input id="Button1" type="button" value="Gönder" class="btn btn-primary" onclick="iletisim_formu()" />
                
            </div>
        </form>
    </div>

    <div class="col-md-3 ms-3">
        <h6>Harita</h6>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12040.000958790155!2d28.9789395!3d41.0252507!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44089783d1089f31!2sSiliconmade%20Academy!5e0!3m2!1str!2str!4v1668332774108!5m2!1str!2str" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="col-md-4 ">

        <div class="d-flex align-items-md-center flex-column mb-3" style="height: 200px;">
           

            <div class="p-2">

                <ul class="list-unstyled">
                    <li> <p class="h5"> Adres: İstanbul/Türkiye</p></li>
                    <li><p></p></li>
                    <li> <p class="h5">Telefon: 0216 999 99 99</p></li>
                    <li><p></p></li>
                    <li> <p class="h5">Email: info@blogblogwebapp.com </p></li>


                </ul>




            </div>

        </div>


    </div>

</div>


@{
    if (TempData["Mesaj"] != null)
    {
        <div class="col-md-3">
            <div class="alert alert-info mt-3" role="alert">

                @TempData["Mesaj"]

            </div>
        </div>
    }
}

<div class="col-md-3"> <div id="sonuc" class="alert alert-info" style="display:none"></div> </div>
    




@section Scripts{
    <script>
        function iletisim_formu(){
            var adSoyad = $("#Name").val();
            var email = $("#Email").val();
            var telefon = $("#Phone").val();
            var mesaj = $("#Message").val();

            var message = {
                "Name": adSoyad,
                "Email": email,
                "Phone": telefon,
                "Message": mesaj
            };

            $.ajax({
                method:"POST",
                url:"/Home/Contact",
                type: "json",
                data: message,
                success: function (data){
                    document.getElementById("iletisim_formu").reset();
                    $("#sonuc").show().html("Mesajınız başarıyla gönderilmiştir.").delay("5000").fadeOut();

                },
                error:  function (err){
                    $("#sonuc").show().removeClass("alert-info").addClass("alert-danger").html("Hata Oluştu. Mesajını gönderilememiştir.").delay("10000").fadeOut();
                }
            });

        }
    </script>
}
